html {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Lora';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: calc(100% - 100px);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
  background-color: black;
}

::-webkit-color-swatch {
  border: 2px solid #B09A81;
  border-radius: 6px;
}
